.imageWrapper {
  background: linear-gradient(180deg, #C063F9 0%, #8B7CFF 100%);
  border-radius: 0.75rem;
  padding: 0.4rem;
  display: flex;
  
  @media (min-width: 1024px) {
    padding: 1.3rem;
  }
}

.imageWrapper > img {
  border: 5px solid rgba(59, 17, 81, 0.40);
  border-radius: 0.75rem;

  @media(min-width: 1024px) {
    border: 10px solid rgba(59, 17, 81, 0.40);
  }
}